Basic Python

1. Split this String

In [2]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

2. Use .format() to print the following string.

Output should be: The diameter of Earth is 12742 kilometers.

In [6]:
planet = "Earth"
diameter = 12742

out = "The diameter of {planet} is {diameter} kilometers.".format(planet = "Earth",diameter=12742)
print(out)

The diameter of Earth is 12742 kilometers.

3. In this nest dictionary grab the word "hello"

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

Numpy

In [8]:
import numpy as np

4.1 Create an array of 10 zeros?

4.2 Create an array of 10 fives?

In [9]:
np.zeros(10,dtype="int")

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [10]:
np.ones(10,dtype='int')*5

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

5. Create an array of all the even integers from 20 to 35

In [11]:
array=[]
for i in range(20,36,2):
    array.append(i)
array

[20, 22, 24, 26, 28, 30, 32, 34]

6. Create a 3x3 matrix with values ranging from 0 to 8

In [12]:
array = np.zeros((3,3),dtype='int')
k=0
for i in range(3):
    for j in range(3):
        array[i][j]=k
        k+=1
array

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

7. Concatenate a and b

a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [13]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
np.concatenate([a,b])

array([1, 2, 3, 4, 5, 6])

Pandas

8. Create a dataframe with 3 rows and 2 columns

In [14]:
import pandas as pd

In [15]:
A = np.random.randint(10, size=(3,2))
df = pd.DataFrame(A)
df

   0  1
0  5  7
1  8  1
2  3  5

9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [16]:
pd.date_range(start='1/1/2023', end='10/02/2023')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', length=275, freq='D')

10. Create 2D list to DataFrame

In [18]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df = pd.DataFrame(lists)
df

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24